{# {% set badgeColor = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark', 'light'] %}

<td class=" text-right field-association" dir="ltr">
	<span class="badge badge-secondary">Calligraphies</span>
</td> #}
