@font-face {
    font-family: "fontNav";
    src: url(../../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "page";
    src: url(../../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "lettrine";
    src: url(../../fonts/lettrine/FoliarInitials.ttf);
}
