:root {
    --nav-bg: rgba(128, 128, 128, 0.5);
    --nav-bg-hover: rgba(92, 65, 40, 0.3);
    --nav-bg-hover-sub: rgba(88, 77, 68, 0.5);
    --nav-title: rgb(255, 255, 255);
}

$max-width: 1100px;
$mainBgColor: rgb(247, 240, 229);