{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_footer_wrapper %}
	
    <div class="mt-4 mb-4 text-center text-muted">
        <a href="https://atelier-amelie.fr">L'Atelier-Amelie.fr</a>
    </div>

{% endblock %}