
  #baniere2 {
    background: url(../../img/ban6-min.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 35% 90%;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
    padding: 1rem 0;
}

.footer-1, .footer-2, .footer-3 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 2px;
    color: white;
    font-family: "page";
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3px;
}

.footer-1, .footer-2 {
    margin-bottom: 1rem;
}

.footer-1 a:hover, .footer-2 a:hover, .footer-3 a:hover {
    color: rgb(197, 197, 197);
}