.message-flash {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    z-index: 40;
    font-family: "page";
    text-align: center;
    border-bottom: 1px solid black;
    background-color: rgb(247, 240, 229);

    .bold {
        font-weight: bolder;
    }
}
