{% extends 'base.html.twig' %}

{% block body %}

	<h2>
		<span class="lettrine lettrine-title">M</span>erci
	</h2>

    <div class="para">
		Votre paiement a été accepté, vous aller recevoir un courriel de confirmation dans quelques instants.
	</div>

{% endblock %}
