{# {% if cartService.total > 0 %} #}
{# {% if not app.request.attributes.get('_route') is same as "cart_show" %} #}

{# <div id="modal" style="display:none;">
			<div class="modal-wrapper">
				<button id="js-close-modal">Fermer</button>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta tempora, numquam expedita placeat magni sapiente mollitia sit magnam dolorum doloremque, voluptatibus rerum vero aspernatur, blanditiis accusamus animi debitis nisi hic!
							Pariatur hic est accusamus autem minima dolorum facilis, fuga neque vel quae harum eum sed eveniet repellendus officia reprehenderit voluptas iste debitis aut aliquam. Temporibus nostrum dolore incidunt totam pariatur.
							Quibusdam libero velit, quisquam maxime voluptate quaerat eveniet accusantium minima facere ea laudantium commodi aspernatur nam, ipsum optio corrupti necessitatibus perspiciatis magnam nostrum pariatur facilis quis praesentium suscipit cumque. Similique!
							Ducimus, dicta! Numquam repellat temporibus animi maxime, similique itaque? Totam est dolor quidem architecto, unde voluptatem sed deleniti exercitationem officiis nostrum magni placeat praesentium soluta, tempora fuga nam! Explicabo, ut!
							Voluptate nobis doloremque ut fugiat ex neque deleniti, quibusdam nihil totam incidunt accusantium quo error. Enim, quae. Magnam possimus repellendus ullam, distinctio minus, quo odio, optio harum dolor reprehenderit dicta.
							Consequatur veritatis repellat velit quibusdam ullam minima blanditiis dignissimos, saepe cupiditate atque sunt eum ut vel consectetur a aliquam, aut eius placeat facilis! Porro dolor eligendi fugiat vero, voluptates officia!
							Similique obcaecati sapiente dicta nam adipisci officiis pariatur ex! Tempora repudiandae amet nemo fuga iste magni architecto beatae quisquam ea cumque nulla illo quam, earum optio doloribus explicabo alias sunt.
							Ipsum animi iusto, sit fugit voluptas aut maxime rem! Eius fuga id corrupti dolorum delectus veritatis quibusdam repellendus, eum asperiores, ex non sed reiciendis perspiciatis maxime iure quae debitis modi!
							Totam sint sequi quidem quos dolorem. Autem sapiente dolorem corporis accusantium maiores aliquid modi architecto qui quam enim alias consequuntur quasi eius aut atque distinctio sunt, amet repudiandae nemo explicabo.
							Quibusdam nostrum ipsa quaerat iste nihil, iusto laboriosam ratione quasi culpa? Veniam ad accusamus vitae tempore adipisci quasi nesciunt. Quibusdam repellendus ratione omnis tempore doloremque nulla necessitatibus libero minima in.
			</div>
		</div> #}
{# {% endif %} #}
{# {% endif %} #}
